img {
  transition: 1.5s;
  width: 80vw;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#css_selectors {
  color: red;
}
.demo {
  color: blue;
}
.demo2 {
  font-style: italic;
}
