img {
  transition: 1.5s;
  width: 90vw;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: rgb(243, 240, 237);
}
h1 {
  color: blue;
}
h2 {
  color: brown;
}
h3 {
  color: green;
}
input:checked ~ img {
  display: none;
}
